<a href="https://colab.research.google.com/github/SDS-AAU/M1-2019/blob/master/Italian_Wine_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SDS - Intro
## Italian wine classifier

In [0]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [0]:
data = pd.read_csv('https://cdn.rawgit.com/SDS-AAU/M1-2018/182abaa2/data/wine.csv')

In [11]:
data.head()

   class_label class_name  alcohol  ...   hue  od280  proline
0            1     Barolo    14.23  ...  1.04   3.92     1065
1            1     Barolo    13.20  ...  1.05   3.40     1050
2            1     Barolo    13.16  ...  1.03   3.17     1185
3            1     Barolo    14.37  ...  0.86   3.45     1480
4            1     Barolo    13.24  ...  1.04   2.93      735

[5 rows x 15 columns]

In [0]:
X = data.iloc[:, 2:15].values

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [0]:
y = data.iloc[:, 1].values
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state = 22, solver = 'lbfgs', multi_class='auto')
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=22, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
true_wines = labelencoder_y.inverse_transform(y_test)

predicted_wines = labelencoder_y.inverse_transform(model.predict(X_test))

In [21]:
df = pd.DataFrame({'true_wines': true_wines, 'predicted_wines': predicted_wines}) 

pd.crosstab(df.true_wines, df.predicted_wines)

predicted_wines  Barbera  Barolo  Grignolino
true_wines
Barbera                5       0           0
Barolo                 0      15           0
Grignolino             1       0          15