<a href="https://colab.research.google.com/github/SDS-AAU/M1-2019/blob/master/SDS_M1_datamunging_python_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Importing packages
library(tidyverse) # metapackage with lots of helpful functions
library(magrittr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘magrittr’

The following object is masked from ‘package:purrr’:

    set_names

The following object is masked from ‘package:tidyr’:

    extract

# Exploring the police dataset

Alright, lets get started. First, load the data (csv) from the SDS server

In [3]:
data <- read_csv("http://sds-datacrunch.aau.dk/public/RI-clean.csv")

Parsed with column specification:
cols(
  .default = col_character(),
  stop_date = col_date(format = ""),
  stop_time = col_time(format = ""),
  county_name = col_logical(),
  county_fips = col_logical(),
  fine_grained_location = col_logical(),
  driver_age_raw = col_double(),
  driver_age = col_double(),
  search_conducted = col_logical(),
  contraband_found = col_logical(),
  is_arrested = col_logical(),
  out_of_state = col_logical(),
  drugs_related_stop = col_logical()
)
See spec(...) for full column specifications.

Lets do a first inspection of the dataset.

In [4]:
data %>% head()

  id            state stop_date  stop_time location_raw county_name county_fips
1 RI-2005-00001 RI    2005-01-02 01:55:00  Zone K1      NA          NA
2 RI-2005-00002 RI    2005-01-02 20:30:00  Zone X4      NA          NA
3 RI-2005-00003 RI    2005-01-04 11:30:00  Zone X1      NA          NA
4 RI-2005-00004 RI    2005-01-04 12:55:00  Zone X4      NA          NA
5 RI-2005-00005 RI    2005-01-06 01:30:00  Zone X4      NA          NA
6 RI-2005-00006 RI    2005-01-12 08:05:00  Zone X1      NA          NA
  fine_grained_location police_department driver_gender ⋯ search_conducted
1 NA                    600               M             ⋯ FALSE
2 NA                    500               M             ⋯ FALSE
3 NA                    000               NA            ⋯ FALSE
4 NA                    500               M             ⋯ FALSE
5 NA                    500               M             ⋯ FALSE
6 NA                    000               M             ⋯ FALSE
  search_type_raw search_type contraband_found stop_outcome is_arrested
1 NA              NA          FALSE            Citation     FALSE
2 NA              NA          FALSE            Citation     FALSE
3 NA              NA          FALSE            NA              NA
4 NA              NA          FALSE            Citation     FALSE
5 NA              NA          FALSE            Citation     FALSE
6 NA              NA          FALSE            Citation     FALSE
  stop_duration out_of_state drugs_related_stop district
1 0-15 Min      FALSE        FALSE              Zone K1
2 16-30 Min     FALSE        FALSE              Zone X4
3 NA               NA        FALSE              Zone X1
4 0-15 Min      FALSE        FALSE              Zone X4
5 0-15 Min      FALSE        FALSE              Zone X4
6 30+ Min        TRUE        FALSE              Zone X1

In [5]:
data %>% glimpse()

Observations: 509,681
Variables: 26
$ id                    <chr> "RI-2005-00001", "RI-2005-00002", "RI-2005-0000…
$ state                 <chr> "RI", "RI", "RI", "RI", "RI", "RI", "RI", "RI",…
$ stop_date             <date> 2005-01-02, 2005-01-02, 2005-01-04, 2005-01-04…
$ stop_time             <time> 01:55:00, 20:30:00, 11:30:00, 12:55:00, 01:30:…
$ location_raw          <chr> "Zone K1", "Zone X4", "Zone X1", "Zone X4", "Zo…
$ county_name           <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ county_fips           <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ fine_grained_location <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ police_department     <chr> "600", "500", "000", "500", "500", "000", "300"…
$ driver_gender         <chr> "M", "M", NA, "M", "M", "M", "M", "M", "M", "M"…
$ driver_age_raw        <dbl> 1985, 1987, NA, 1986, 1978, 1973, 1965, 1967, 1…
$ driver_age            <dbl> 20, 18, NA, 19, 27, 32, 40, 38, 33, 18, 29, 27,…
$ driver_race_raw       <chr> "W", "W", NA, "W", "B", "B", "W", "H", "W", "W"…
$ driver_race           <chr> "White", "White", NA, "White", "Black", "Black"…
$ violation_raw         <chr> "Speeding", "Speeding", NA, "Equipment/Inspecti…
$ violation             <chr> "Speeding", "Speeding", NA, "Equipment", "Equip…
$ search_conducted      <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ search_type_raw       <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Probable C…
$ search_type           <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, "Probable C…
$ contraband_found      <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ stop_outcome          <chr> "Citation", "Citation", NA, "Citation", "Citati…
$ is_arrested           <lgl> FALSE, FALSE, NA, FALSE, FALSE, FALSE, FALSE, F…
$ stop_duration         <chr> "0-15 Min", "16-30 Min", NA, "0-15 Min", "0-15 …
$ out_of_state          <lgl> FALSE, FALSE, NA, FALSE, FALSE, TRUE, TRUE, TRU…
$ drugs_related_stop    <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ district              <chr> "Zone K1", "Zone X4", "Zone X1", "Zone X4", "Zo…

- Each row is one traffic stop
- NaN are missing values

In [6]:
data %>%
filter(driver_gender %>% is.na()) %>%
head()

  id            state stop_date  stop_time location_raw county_name county_fips
1 RI-2005-00003 RI    2005-01-04 11:30:00  Zone X1      NA          NA
2 RI-2005-00018 RI    2005-03-05 00:20:00  Zone X4      NA          NA
3 RI-2005-00036 RI    2005-06-08 08:40:00  Zone X4      NA          NA
4 RI-2005-00075 RI    2005-08-17 13:20:00  Zone X1      NA          NA
5 RI-2005-00076 RI    2005-08-17 15:59:00  Zone X1      NA          NA
6 RI-2005-00081 RI    2005-08-24 18:00:00  Zone X1      NA          NA
  fine_grained_location police_department driver_gender ⋯ search_conducted
1 NA                    000               NA            ⋯ FALSE
2 NA                    500               NA            ⋯ FALSE
3 NA                    500               NA            ⋯ FALSE
4 NA                    000               NA            ⋯ FALSE
5 NA                    000               NA            ⋯ FALSE
6 NA                    000               NA            ⋯ FALSE
  search_type_raw search_type contraband_found stop_outcome is_arrested
1 NA              NA          FALSE            NA           NA
2 NA              NA          FALSE            NA           NA
3 NA              NA          FALSE            NA           NA
4 NA              NA          FALSE            NA           NA
5 NA              NA          FALSE            NA           NA
6 NA              NA          FALSE            NA           NA
  stop_duration out_of_state drugs_related_stop district
1 NA            NA           FALSE              Zone X1
2 NA            NA           FALSE              Zone X4
3 NA            NA           FALSE              Zone X4
4 NA            NA           FALSE              Zone X1
5 NA            NA           FALSE              Zone X1
6 NA            NA           FALSE              Zone X1

In [7]:
data %>%
summarise_all(function(x) sum(is.null(x))) %>% gather()

   key                   value
1  id                    0
2  state                 0
3  stop_date             0
4  stop_time             0
5  location_raw          0
6  county_name           0
7  county_fips           0
8  fine_grained_location 0
9  police_department     0
10 driver_gender         0
11 driver_age_raw        0
12 driver_age            0
13 driver_race_raw       0
14 driver_race           0
15 violation_raw         0
16 violation             0
17 search_conducted      0
18 search_type_raw       0
19 search_type           0
20 contraband_found      0
21 stop_outcome          0
22 is_arrested           0
23 stop_duration         0
24 out_of_state          0
25 drugs_related_stop    0
26 district              0

In [0]:
# We drop the county_name columns.
data %<>%
select(-county_name)

In [0]:
# Drop all rows where stop_data, time, and driver_gender are missing
data %<>%
drop_na(stop_date, stop_time, driver_gender)

# Adjusting dates, times and index

In [10]:
# We start by concatenating the two string columns into one that we call combined, using str.cat



combined = data.stop_date.str.cat(data.stop_time, sep=' ')
print(combined.head())

# Parse the combined series to datetime-format and assign it to a new column
data['date_and_time'] = pd.to_datetime(combined)

# Replace the standard index by the new column (which will in turn disappear)
data.set_index('date_and_time', inplace=True)

ERROR: ignored

# Explore the data step/by/step

In [11]:
data %>%
group_by(stop_outcome) %>%
summarize(n = n())

  stop_outcome     n
1 Arrest Driver     14630
2 Arrest Passenger   1973
3 Citation         428378
4 N/D                3431
5 No Action          3332
6 Warning           28840

In [25]:
# there are many ways to do the same thing. Meet count(), the short form of group_by(x) %>% summarize(n = n())
data %>%
count(stop_outcome, sort = TRUE)

  stop_outcome     n
1 Citation         428378
2 Warning           28840
3 Arrest Driver     14630
4 N/D                3431
5 No Action          3332
6 Arrest Passenger   1973

In [12]:
# Relative proportions
data %>%
count(driver_race, sort = TRUE) %>%
mutate(pct = (n / sum(n)) %>% round(2) )

  driver_race n      pct
1 White       344716 0.72
2 Black        68577 0.14
3 Hispanic     53123 0.11
4 Asian        12824 0.03
5 Other         1344 0.00

### Let's try out some hypotheses

One hypothesis could be that the stop_outcome is different for different races. Discrimination?

In [15]:
data %>%
count(driver_race, stop_outcome) %>%
group_by(driver_race) %>%
mutate(pct = (n / sum(n)) %>% round(2) )

   driver_race stop_outcome     n      pct
1  Asian       Arrest Driver       231 0.02
2  Asian       Arrest Passenger     27 0.00
3  Asian       Citation          11898 0.93
4  Asian       N/D                  60 0.00
5  Asian       No Action            75 0.01
6  Asian       Warning             533 0.04
7  Black       Arrest Driver      3379 0.05
8  Black       Arrest Passenger    559 0.01
9  Black       Citation          58873 0.86
10 Black       N/D                 623 0.01
11 Black       No Action           483 0.01
12 Black       Warning            4660 0.07
13 Hispanic    Arrest Driver      2800 0.05
14 Hispanic    Arrest Passenger    356 0.01
15 Hispanic    Citation          45272 0.85
16 Hispanic    N/D                 478 0.01
17 Hispanic    No Action           445 0.01
18 Hispanic    Warning            3772 0.07
19 Other       Arrest Driver        11 0.01
20 Other       Arrest Passenger      3 0.00
21 Other       Citation           1234 0.92
22 Other       N/D                   6 0.00
23 Other       No Action            11 0.01
24 Other       Warning              79 0.06
25 White       Arrest Driver      8209 0.02
26 White       Arrest Passenger   1028 0.00
27 White       Citation         311101 0.90
28 White       N/D                2264 0.01
29 White       No Action          2318 0.01
30 White       Warning           19796 0.06

Nice, can we have that also in a easy to investigate matrix? Sure, lets use `spread()`. Notice there are many more functions to do that, such as `prob.table`, but I here stay in the `dplyr` framework

In [20]:
data %>%
count(driver_race, stop_outcome) %>%
group_by(driver_race) %>%
mutate(pct = (n / sum(n, na.rm = TRUE)) %>% round(2) ) %>%
select(-n) %>%
spread(stop_outcome, pct)

  driver_race Arrest Driver Arrest Passenger Citation N/D  No Action Warning
1 Asian       0.02          0.00             0.93     0.00 0.01      0.04
2 Black       0.05          0.01             0.86     0.01 0.01      0.07
3 Hispanic    0.05          0.01             0.85     0.01 0.01      0.07
4 Other       0.01          0.00             0.92     0.00 0.01      0.06
5 White       0.02          0.00             0.90     0.01 0.01      0.06

We might also have a look at nice datasummary. The `summarytools` package has some nice functions to do so.

In [24]:
#install.packages("summarytools")
#library(summarytools)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependencies ‘bitops’, ‘checkmate’, ‘magick’, ‘matrixStats’, ‘pander’, ‘pryr’, ‘rapportools’, ‘RCurl’

Warning message in install.packages("summarytools"):
“installation of package ‘magick’ had non-zero exit status”Warning message in install.packages("summarytools"):
“installation of package ‘matrixStats’ had non-zero exit status”Warning message in install.packages("summarytools"):
“installation of package ‘pander’ had non-zero exit status”Warning message in install.packages("summarytools"):
“installation of package ‘pryr’ had non-zero exit status”Warning message in install.packages("summarytools"):
“installation of package ‘rapportools’ had non-zero exit status”Warning message in install.packages("summarytools"):
“installation of package ‘RCurl’ had non-zero exit status”Warning message in install.packages("summarytools"):
“installation of package ‘summarytools’ had non-zero exit status”

ERROR: ignored

In [23]:
#data %>%
#fSummary()

Observations: 480,584
Variables: 25
$ id                    <chr> "RI-2005-00001", "RI-2005-00002", "RI-2005-0000…
$ state                 <chr> "RI", "RI", "RI", "RI", "RI", "RI", "RI", "RI",…
$ stop_date             <date> 2005-01-02, 2005-01-02, 2005-01-04, 2005-01-06…
$ stop_time             <time> 01:55:00, 20:30:00, 12:55:00, 01:30:00, 08:05:…
$ location_raw          <chr> "Zone K1", "Zone X4", "Zone X4", "Zone X4", "Zo…
$ county_fips           <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ fine_grained_location <lgl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ police_department     <chr> "600", "500", "500", "500", "000", "300", "000"…
$ driver_gender         <chr> "M", "M", "M", "M", "M", "M", "M", "M", "M", "M…
$ driver_age_raw        <dbl> 1985, 1987, 1986, 1978, 1973, 1965, 1967, 1972,…
$ driver_age            <dbl> 20, 18, 19, 27, 32, 40, 38, 33, 18, 29, 27, 20,…
$ driver_race_raw       <chr> "W", "W", "W", "B", "B", "W", "H", "W", "W", "W…
$ driver_race           <chr> "White", "White", "White", "Black", "Black", "W…
$ violation_raw         <chr> "Speeding", "Speeding", "Equipment/Inspection V…
$ violation             <chr> "Speeding", "Speeding", "Equipment", "Equipment…
$ search_conducted      <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ search_type_raw       <chr> NA, NA, NA, NA, NA, NA, NA, NA, "Probable Cause…
$ search_type           <chr> NA, NA, NA, NA, NA, NA, NA, NA, "Probable Cause…
$ contraband_found      <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ stop_outcome          <chr> "Citation", "Citation", "Citation", "Citation",…
$ is_arrested           <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ stop_duration         <chr> "0-15 Min", "16-30 Min", "0-15 Min", "0-15 Min"…
$ out_of_state          <lgl> FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, T…
$ drugs_related_stop    <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ district              <chr> "Zone K1", "Zone X4", "Zone X4", "Zone X4", "Zo…

### Filtering by multiple conditions

Again, we can use `dplyr` `filter()` with multiple conditions, or `group_by()` + `summarize()` for summaries in nested groups.

In [0]:
# Filter for being histanic and arrested
data %>%
filter(driver_race == "Hispanic" & is_arrested == TRUE) %>%
head(10)

##### Rules for filtering

- & AND
- | OR
- Each condition must be surrounded by () and many are possible
- == Equality
- != Inequality

##### Remember, that we are not making any statement about causation. This is purely a correlation exercise (so far!)

#### A bit on boolean series

True = 1 and False = 0
Which means that you can perform calculations on them:

In [25]:
# Create a DataFrame of male and female drivers stopped for speeding
# We can take a shortcut using `group_by`
data %>%
filter(violation == "Speeding") %>%
count(driver_gender, stop_outcome) %>%
group_by(driver_gender) %>%
mutate(pct = (n / sum(n, na.rm = TRUE)) %>% round(2) )

   driver_gender stop_outcome     n      pct
1  F             Arrest Driver       456 0.01
2  F             Arrest Passenger     89 0.00
3  F             Citation          82168 0.95
4  F             N/D                  78 0.00
5  F             No Action            45 0.00
6  F             Warning            3362 0.04
7  M             Arrest Driver      2878 0.02
8  M             Arrest Passenger    231 0.00
9  M             Citation         172432 0.94
10 M             N/D                 216 0.00
11 M             No Action           194 0.00
12 M             Warning            6587 0.04

### "protective frisk"
Sometimes during stops if a search is conducted, the officer also checks the driver if they have a weapon. This is called a "protective frisk".
Let's try to figure out if men are frisked more than women.

In [26]:
# Look at the different search types performed
data %>%
count(search_type, sort = TRUE)

   search_type                                              n
1  NA                                                       462822
2  Incident to Arrest                                         6998
3  Probable Cause                                             4989
4  Reasonable Suspicion                                       1141
5  Inventory                                                  1101
6  Protective Frisk                                            879
7  Incident to Arrest,Inventory                                649
8  Incident to Arrest,Probable Cause                           552
9  Probable Cause,Reasonable Suspicion                         334
10 Probable Cause,Protective Frisk                             221
11 Incident to Arrest,Protective Frisk                         158
12 Incident to Arrest,Inventory,Probable Cause                 151
13 Inventory,Probable Cause                                    132
14 Protective Frisk,Reasonable Suspicion                        83
15 Incident to Arrest,Inventory,Protective Frisk                77
16 Incident to Arrest,Probable Cause,Protective Frisk           74
17 Inventory,Protective Frisk                                   52
18 Incident to Arrest,Reasonable Suspicion                      49
19 Incident to Arrest,Probable Cause,Reasonable Suspicion       31
20 Probable Cause,Protective Frisk,Reasonable Suspicion         31
21 Inventory,Reasonable Suspicion                               17
22 Inventory,Probable Cause,Protective Frisk                    14
23 Incident to Arrest,Inventory,Reasonable Suspicion            12
24 Incident to Arrest,Protective Frisk,Reasonable Suspicion      8
25 Inventory,Probable Cause,Reasonable Suspicion                 8
26 Inventory,Protective Frisk,Reasonable Suspicion               1

#### Extracting a string
As you can see, search type is a multiple choice object/string column. *Incident to Arrest* and *Pribable Cause* are the most commont but combinations are possible. We can use the `str_detect` method to filter to filter out cases of interest. This will return a boolean series, which we can assign to a new varioable 'frisk' in our dataframe.

**NOTE:** For missing search type values, `str_detect()` would traditionaly output an `NA`, therefore we beforehand replace them with an empty string with `replace_na("")`

In [0]:
data %<>%
mutate(frisk = search_type %>% replace_na("") %>% str_detect("Protective Frisk") )

In [35]:
# How many frisks have been performed? (1598)
# Notice that pull() extracts a vector from a dataframe
data %>% pull(frisk) %>% sum()

[1] 1598

## Using the datetime index to select data

What if you assume that things got better or worse over the years? Remember the `lubridate` package for handling date-times?

In [0]:
# Are things getting better or worse over the years?
library(lubridate)

In [38]:
data %>%
group_by(year(stop_date)) %>%
summarize(frisk_mean = frisk %>% mean())

   year(stop_date) frisk_mean
1  2005            0.0091969006
2  2006            0.0076324885
3  2007            0.0056841979
4  2008            0.0038402458
5  2009            0.0036916123
6  2010            0.0021805274
7  2011            0.0015482055
8  2012            0.0006594360
9  2013            0.0008587377
10 2014            0.0020663693
11 2015            0.0025000553

In [42]:
data %>%
group_by(year(stop_date)) %>%
summarize(frisk_mean = frisk %>% mean() %>% round(3), is_arrested_mean = is_arrested %>% mean() %>% round(3))

   year(stop_date) frisk_mean is_arrested_mean
1  2005            0.009      0.068
2  2006            0.008      0.043
3  2007            0.006      0.030
4  2008            0.004      0.028
5  2009            0.004      0.038
6  2010            0.002      0.039
7  2011            0.002      0.036
8  2012            0.001      0.035
9  2013            0.001      0.029
10 2014            0.002      0.027
11 2015            0.003      0.029

We can obviously also plot that with `ggplot`